# Cloudflare Pages 配置文件

name = "music888"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"
cwd = "."

[build.upload]
format = "service-worker"

[[build.upload.rules]]
type = "ESModule"
globs = ["**/*.js"]
fallthrough = true

[assets]
directory = "./dist"        # 指向 Vite 构建输出的目录
binding = "ASSETS"          # (可选) 如果你的 src/index.ts 需要读取这些静态文件，需要绑定变量
